" change leader key
let mapleader=" "
" map <C-c> <Esc>

" basic
set noerrorbells
set surround
set visualbell
set ignorecase
set incsearch
" set hlsearch

" new line without insert mode
nnoremap <Leader>o o<Esc>0"_D
nnoremap <Leader>O O<Esc>0"_D

" keybindings
nnoremap ss :split<Return><C-w>w
nnoremap sv :vsplit<Return><C-w>w
nnoremap <Leader>/ :noh<Return>

" merge other windows
nnoremap sm <C-w>o
nnoremap sc <C-w>c

" move window
nnoremap so <C-w>w
nnoremap sh <C-w>h
nnoremap sj <C-w>j
nnoremap sk <C-w>k
nnoremap sl <C-w>l

" edit source code
nnoremap zc :action CollapseRegion<CR>
nnoremap zo :action ExpandRegion<CR>
nnoremap <Leader>zc :action CollapseAllRegions<CR>
nnoremap <Leader>zo :action ExpandAllRegions<CR>
nnoremap <Leader>=  :action ReformatCode<CR>
nnoremap <Leader>i :action OptimizeImports<CR>
nnoremap ge :action GotoNextError<CR>
nnoremap gE :action GotoPreviousError<CR>

" Plugins
Plug 'tpope/vim-surround'
Plug 'terryma/vim-multiple-cursors'
map mc <A-n>
map mx <A-x>
map mp <A-p>

let g:multi_cursor_use_default_mapping=0

" Default mapping
let g:multi_cursor_start_word_key      = '<C-n>'
let g:multi_cursor_select_all_word_key = '<A-n>'
let g:multi_cursor_start_key           = 'g<C-n>'
let g:multi_cursor_select_all_key      = 'g<A-n>'
let g:multi_cursor_next_key            = '<C-n>'
let g:multi_cursor_prev_key            = '<C-p>'
let g:multi_cursor_skip_key            = '<C-x>'
